* {
  font-family: 'Alegreya', serif;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background-color: #F0f0f0;
  display: grid;
}

header {
  background-color: #324C54;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

.site-header {
  display: flex;
  align-items: center;

}

h1 {
  color: #ff8843;
}

h2 {
  margin: 0;
  color:#ff8843;
}

h3 {
  color: #F0F0F0;
  margin: 0;
  text-align: center;
  padding: 2px;
}

p {
  margin: 0;
}

main, .main-page {
  height: 90vh;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.nav-bar-item {
  height: 50px;
  background-color: #324C54;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-style: none;
}

.nav-bar-item:hover {
  cursor: pointer;
}

.page-select {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.underline-page-select {
  display: flex;
  justify-content: space-around;
  width: 98%;
}

.underline-box {
  height: 3px;
  width: 146px;
  background-color: #ff8843;
}

.filter-sidebar-header {
  margin-left: -20px;
}

.filter-section {
  height: 90%;
  width: 20%;
  border-radius: 25px;
  background-color: white;
  padding-left: 20px;
  overflow: hidden;
  box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}

.recipes-wrapper {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}
.recipe-preview {
  height: 250px;
  width: 300px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  margin: 6px;
  box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}

.recipe-preview:hover {
  /* cursor: pointer; */
transform: scale(1.1);
}

.recipe-heading {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7D98A1;
}

.recipe-img {
  width: 100%;
  height: 125px;
  overflow: hidden;
}

.recipe-img img {
  max-width: 100%;
}

.icons-section {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  height: 25px;
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

.recipe-ingredients {
  display: flex;
  justify-content: space-between;
}

.ingredients-name {
  width: 30%
}

.sidebar-header {
  font-size: 25px;
  background-color: #7D98A1;
}

/* Pop-up window */
.popup-shadow {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .6;
}

.popup-div {
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.recipe-popout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 75%;
  width: 75%;
  border-radius: 25px;
  overflow: hidden;
}

.popup-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7D98A1;
  height: 10%;
  box-shadow: 0px -10px 4px 2px #4d4d4d;
}

.popup-name h3 {
  font-size: 30px;
}

.popup-image {
  height: 30%;
  width: 100%;
  overflow: hidden;
}

.popup-image img {
  width: 100%;
}

.popup-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
  box-shadow: 0px -3px 4px 2px #4d4d4d;
}

.popup-icon {
  height: 50px;
  width: 50px;
}

.popup-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}

.popup-ingredient {
  height: 90%;
  width: 30%;
  overflow-y: scroll;
  border-radius: 25px;
  box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}

.popup-instructions {
  height: 90%;
  width: 60%;
  overflow-y: scroll;
  border-radius: 25px;
  box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}

.popup-instructions h3,.popup-ingredient h3 {
  font-size: 25px;
  width: 100%;
  background-color: #7D98A1;
}

/*  KITCHEN DISPLAY  */

.kitchen {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px
}


  /* USERS PANTRY */

.kitchen-pantry {
  height: 100%;
  width: 100%;
  grid-row: span 3;
  padding: 0;
  padding-right: -20px;
  padding-bottom: 50px;
  background-color: white;
}

.pantry-sidebar-header{
  margin-right: -20px;
}

.user-pantry {
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 25px;
}

.user-pantry-wrapper {
  height: 100%;
  width: 100%;
}

/* ADD INGREDIENTS */

.pantry-add-ingredients {
  height: 100%;
  width: 100%;
  grid-row: span 2;
}



.recipes-to-cook {
  height: 90%;
  width: 83.5%;
  grid-column-start: 2;
  grid-row: 2 / 5;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-left: 20px;
}


/* COOK RECIPES */

.cook-recipe {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}

.recipe-to-cook {
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  background-color: white;
  padding-left: 40px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}






.cook-this-recipe, .add-to-pantry {
  background: linear-gradient(-10deg, #09314D, #7D98A1 );
  color: white;
  box-shadow: inset  -2px -2px 3px 2px #09314D,
  inset  2px 2px 3px 2px #ffffff,
  5px 5px 10px,
  0px 0px 10px 5px;
  height: 25px;
  width: 200px;
}

.cook-this-recipe:disabled {
  cursor:auto;
  background: #8A8A8A;
  color: #ff0000;
  box-shadow: inset -2px -2px 3px 2px #3F3F3F,
  inset  2px 2px 3px 2px #ffffff;
}






.hidden {
  display: none;
}
